{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card event-card p-4">
                <h2 class="text-center">Регистрация</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary-oval btn-oval w-100">Зарегистрироваться</button>
                </form>
                <p class="text-center mt-3">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}