{% extends "base.html" %}
{% block title %}Редактировать объявление{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card event-card p-4">
        <h2>Редактировать объявление</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary-oval btn-oval">Сохранить</button>
            <a href="{% url 'listing_detail' listing.pk %}" class="btn btn-secondary-oval btn-oval">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}