{% extends "base.html" %}

{% block title %}Главная | EventMate{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="display-4 mt-5">Добро пожаловать на EventMate!</h1>
        <p class="lead">Твой помощник в поиске напарника для мероприятий.</p>
        <hr class="my-4">
        <p>Здесь будет твоя будущая лента событий</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Искать напарника</a>
    </div>
</div>
{% endblock %}